html {
  font-size: $font-size;
}

body {
  font-size: 1rem;
  font-family: $font-main;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-accent;
  }
}

h1 {
  font-size: $font-size * 3;
  margin-top: 0px;
  line-height: 0.8;
  margin-bottom: $gap * 3.46;
}

h1,
h2 {
  font-family: $font-header;
  display: flex;
  position: relative;

  &::after {
    content: "";
    flex: 1;
    padding-left: 5px;
    border-bottom: 3px solid rgba($color-accent, 0.5);
    margin-left: $gap;
    margin-bottom: $gap / 3;
  }
  @include xs-min {
    font-size: 3rem;
  }
  @include xs {
    font-size: 2rem;
  }
}

h2 {
  margin-top: $gap * 3.3;
  font-size: $font-size * 2.5;
  padding: 0px;
  margin-bottom: $gap * 2.8;

  &::before {
    content: "";
    flex: 0.066;
    border-top: 3px solid rgba($color-accent, 0.5);
    margin-top: $gap / 1.57;
    margin-right: $gap * 0.97;
  }
  @include xs-min {
    font-size: 2.5rem;
  }
  @include xs {
    font-size: 1.75rem;
  }
}

h3 {
  margin: 0;
  font-size: $font-size;
  font-weight: 700;
}

hr {
  border-width: 1px;
  border-color: $color-gray;
  margin: 0px;
}

h5 {
  font-size: $font-size;
}
