html {
  font-size: $font-size;
}

body {
  font-size: 1rem;
  font-family: $font-main;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-accent;
  }
}

h1,
h2 {
  font-family: $font-header;
  display: flex;
  position: relative;

  &::after {
    content: "";
    flex: 1;
    padding-left: 5px;
    border-bottom: 3px solid rgba(lighten($color-accent, 15%), 0.7);
    margin-left: $gap;
    margin-bottom: $gap / 2.5;
  }
}

h1 {
  font-size: 3rem;
  margin-top: 0px;
  line-height: 0.8;
  margin-bottom: $gap * 3.46;
  @include xs-min {
    font-size: 3rem;
  }
  @include xs {
    font-size: 2rem;
  }
}
h2 {
  margin-top: $gap * 3.3;
  font-size: 2.5rem;
  padding: 0px;
  margin-bottom: $gap * 2.8;
  @include xs-min {
    font-size: 2.5rem;
  }
  @include xs {
    font-size: 1.75rem;
  }
  &::before {
    left: 0;
    width: 30px;
    margin: 0 15px 0.8em 0;
    content: "";
    border-bottom: 3px solid rgba(lighten($color-accent, 15%), 0.7);
  }
}
h3 {
  font-size: $font-size;
}
hr {
  border-width: 1px;
  border-color: $color-gray;
  margin: 0px;
}

h5 {
  font-size: 1rem;
}
