.footer-list {
    list-style: none;
    @include md {
        padding: $gap / 3;
        margin-bottom: $gap * 2;;
    }
    @include sm {
        padding: 0;
        margin-bottom: $gap * 2;;
    }
    @include xs {
        padding: 0;
        margin-bottom: $gap * 2;;
    }

    &-link {
        color: rgba($color-light, 0.5);

        &:hover {
            color: $color-light;
        }
    }

    &-item {
        &:first-child span {
            color: $color-light;
            margin-bottom: 10px;
            display: inline-block;
        }
    }
}

.footer-fluid {
    background-color: #191919;
}

.footer-container {
    padding-top: $gap *4;
}