.footer-container {
  padding-top: $gap * 3.86;
  &__item {
    @include xs-min {
      font-size: 2.5rem;
    }
    @include xs {
      font-size: 1.75rem;
    }
  }
}

.footer-list {
  list-style: none;
  padding: 0px;

  &-item {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  &-link {
    color: darken($color-gray, 40%);
    &:hover {
      color: lighten($color-gray, 14%);
    }
  }
  &-header {
    color: lighten($color-gray, 12%);
    margin-bottom: 8px;
    display: inline-block;
    font-size: 1.125rem;
  }
}

.footer-fluid {
  background-color: #252525;
}
