.wrapper {
  min-height: 100%;
}

.main {
  margin-bottom: $gap * 5.33;
  .site-search {
    margin: -$gap 0 $gap * 3;
  }
  .user-login {
    margin-bottom: $gap * 4;
  }
}

.new-films,
.best-week {
  .row {
    margin-right: -$gap / 2;
    margin-left: -$gap / 2;
  }
  &-title {
    padding: 0px;
  }

  &-img {
    display: block;
    padding-top: 1px;
    width: 100%;
    height: auto;
  }

  .thumbnail {
    margin-bottom: $gap;
  }

  &-item {
    padding-right: $gap / 2;
    padding-left: $gap / 2;
  }

  &-link {
    display: block;
  }

  &-descr {
    padding: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-hover:hover,
  &-hover:hover > &-link > div > h3 {
    color: $color-light;
    background-color: $color-accent;
  }
}

.news-item {
  margin-bottom: $gap * 3.26;
  &-heading {
    font-size: 2rem;
    margin-top: 0px;
    @include xs-min {
      font-size: 1.5rem;
    }
    @include xs {
      font-size: 1.4rem;
    }
  }
  &-imgblock {
    padding-right: $gap * 0.953;
  }
  &-img {
    width: 100%;
    height: auto;
  }

  &-btnblock {
    padding: 0px;
  }
  &-btn {
    background-color: rgba($color-accent, 0.75);
    color: $color-light;
    padding: ($gap / 2.1) ($gap / 1.3);
    font-size: 0.9rem;
  }

  &:hover {
    .news-item-img,
    .news-item-btn,
    .news-item-heading {
      transition: color 0.25s;
    }
    .news-item-img {
      background-color: rgba($color-accent, 0.75);
    }
    .news-item-btn {
      background-color: $color-accent;
      color: $color-light;
    }
    .news-item-heading {
      color: $color-accent;
    }
  }
}
