.left-sidebar {
  margin-bottom: $gap * 5.33;

  .panel:last-of-type {
    margin-bottom: 0;
  }
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.site-news {
  &-newsblock {
    padding: 0px 15px;
  }
  &-item {
    margin-top: $gap / 2;
    margin-bottom: $gap / 1.36;
    &:first-of-type {
      margin-top: $gap;
    }
    &:last-of-type {
      margin-bottom: $gap * 1.57;
    }
    &:hover {
      cursor: pointer;
    }

    &:hover .site-news-img,
    &:hover .site-news-link {
      background-color: $color-accent;
      color: $color-accent;
    }
  }

  &:hover > .site-news-img {
    background-color: $color-accent;
  }

  &-img {
    width: 75px;
    height: 75px;
  }

  &-date {
    font-weight: 400;
    font-size: 1rem / 1.2;
    color: rgba($color-dark, 0.4);
    padding: 10px 0 0;
  }
}

.top-films {
  &-body {
    padding-left: 0;
    padding-right: 0;
  }

  &-list {
    margin-bottom: 0;
  }

  &-item {
    padding: 0;
    margin-left: -1px;
    margin-right: -1px;
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: 1px solid $color-gray;

    &:first-child {
      border-top: none;
      border-radius: 0;
    }

    &:last-child {
      border-radius: 0;
    }

    &:hover {
      background-color: $color-accent;

      a {
        color: $color-light;
      }

      .badge {
        background-color: $color-dark;
      }
    }
  }

  &-badge {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }

  a {
    display: block;
    padding: 11px 40px 10px $gap;
  }
}
