.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 20px black;
}

.navbar-inverse {
  background-color: #191919;
  border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #165690;
}

.navbar-inverse {
  margin-bottom: 0;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  background-color: #f1f1f1;
  border: none;
  margin-bottom: 28.995px;
}

.panel-heading {
  padding: 10px 15px;
}

.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border: none;
}

.panel-title {
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

.thumbnail .caption {
  padding: 0;
}

.media-heading {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 22px;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1 {
  font-size: 48px;
  margin-top: 0px;
  line-height: 0.8;
  margin-bottom: 51.9px;
}

h1,
h2 {
  font-family: "PT Serif", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

h1::after,
h2::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 5px;
  border-bottom: 3px solid rgba(223, 138, 19, 0.5);
  margin-left: 15px;
  margin-bottom: 5px;
}

h2 {
  margin-top: 49.5px;
  font-size: 40px;
  padding: 0px;
  margin-bottom: 42px;
}

h2::before {
  content: "";
  -webkit-box-flex: 0.066;
      -ms-flex: 0.066;
          flex: 0.066;
  border-top: 3px solid rgba(223, 138, 19, 0.5);
  margin-top: 9.55414px;
  margin-right: 14.55px;
}

h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

hr {
  border-width: 1px;
  border-color: #dddddd;
  margin: 0px;
}

h5 {
  font-size: 16px;
}

.header {
  margin-bottom: 80px;
}

.header-logo {
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
  padding: 100px 0;
}

.header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
}

.header-logo__description {
  display: block;
  color: #ffffff;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
}

.wrapper {
  min-height: 100%;
}

.main {
  margin-bottom: 15px;
}

.new-films .row,
.best-week .row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.new-films-title,
.best-week-title {
  padding: 0px;
}

.new-films-img,
.best-week-img {
  display: block;
  padding-top: 1px;
  width: 100%;
  height: auto;
}

.new-films .thumbnail,
.best-week .thumbnail {
  margin-bottom: 15px;
}

.new-films-item,
.best-week-item {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.new-films-link,
.best-week-link {
  display: block;
}

.new-films-descr,
.best-week-descr {
  padding: 8px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.new-films-hover:hover,
.new-films-hover:hover > .new-films-link > div > h3,
.best-week-hover:hover,
.best-week-hover:hover > .new-films-link > div > h3,
.new-films-hover:hover >
.best-week-link > div > h3,
.best-week-hover:hover >
.best-week-link > div > h3 {
  color: #ffffff;
  background-color: #df8a13;
}

.best-week-hover:hover {
  padding: 0px;
  padding-bottom: 4px;
}

.best-week-hover:hover > .best-week-link {
  border: 4px solid #df8a13;
  border-bottom: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-color: #df8a13;
  border-top-color: #ffffff;
}

.news-item {
  margin-bottom: 48.9px;
}

.news-item-heading {
  font-size: 32px;
  margin-top: 0px;
}

.news-item-imgblock {
  padding-right: 14.295px;
}

.news-item-img {
  width: 100%;
  height: auto;
}

.news-item-img:hover {
  background-color: #df8a13;
}

.news-item-btnblock {
  padding: 0px;
}

.news-item-btn {
  background-color: rgba(223, 138, 19, 0.75);
  color: #ffffff;
  padding: 7.14286px 11.53846px;
  font-size: 0.9rem;
}

.news-item-btn:hover {
  background-color: #df8a13;
  color: #ffffff;
}

.film-info-video {
  border-radius: 7.5px 7.5px 60px 0;
}

.film-info-ratings {
  padding: 19.5px;
  font-weight: 100;
}

.film-info-ratings div {
  font-size: 18.75px;
  display: inline-block;
  margin-left: 15px;
}

.film-info-ratings .badge {
  margin-left: 5px;
  margin-right: 15px;
  font-weight: 700;
  font-size: 15.2381px;
}

.film-info-descr {
  padding: 22px;
  margin-bottom: 78px;
}

.film-info-comments {
  margin-bottom: 90px;
}

.film-info-leave {
  margin-bottom: 46.95px;
}

.film-info-ratings {
  margin-bottom: 75.9px;
}

.film-info-comments-btn {
  background-color: rgba(223, 138, 19, 0.75);
  color: #ffffff;
}

.film-info-comments-btn:hover {
  background-color: #df8a13;
  color: #ffffff;
}

.left-sidebar {
  margin-bottom: 60px;
}

.left-sidebar .panel:last-of-type {
  margin-bottom: 0;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}

.vertical-slider img {
  width: 100%;
}

.site-news-newsblock {
  padding: 0px 15px;
}

.site-news-item {
  margin-top: 7.5px;
  margin-bottom: 11.02941px;
}

.site-news-item:first-of-type {
  margin-top: 15px;
}

.site-news-item:last-of-type {
  margin-bottom: 23.55px;
}

.site-news-item:hover {
  cursor: pointer;
}

.site-news-item:hover .site-news-img,
.site-news-item:hover .site-news-link {
  background-color: #df8a13;
  color: #df8a13;
}

.site-news:hover > .site-news-img {
  background-color: #df8a13;
}

.site-news-img {
  width: 75px;
  height: 75px;
}

.site-news-date {
  font-weight: 400;
  font-size: 13.33333px;
  color: rgba(35, 35, 35, 0.4);
  padding: 10px 0 0;
}

.top-films-body {
  padding-left: 0;
  padding-right: 0;
}

.top-films-list {
  margin-bottom: 0;
}

.top-films-item {
  padding: 0;
  margin-left: -1px;
  margin-right: -1px;
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-top: 1px solid #dddddd;
}

.top-films-item:first-child {
  border-top: none;
  border-radius: 0;
}

.top-films-item:last-child {
  border-radius: 0;
}

.top-films-item:hover {
  background-color: #df8a13;
}

.top-films-item:hover a {
  color: #ffffff;
}

.top-films-item:hover .badge {
  background-color: #232323;
}

.top-films-badge {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
}

.top-films a {
  display: block;
  padding: 11px 40px 10px 15px;
}

.footer-list {
  list-style: none;
  padding: 0px;
  font-weight: 100;
}

.footer-list-link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.91rem;
}

.footer-list-link:hover {
  color: #ffffff;
}

.footer-list-header {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 8px;
  display: inline-block;
}

.footer-fluid {
  background-color: #252525;
}

.footer-container {
  padding-top: 57.9px;
}

@media (min-width: 576px) {
  h1,
  h2 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .header-logo__title {
    font-size: 3.5rem;
    letter-spacing: 0.33em;
  }
  .news-item-heading {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 991.8px) {
  .user-login {
    margin-bottom: 60px;
  }
  .site-search {
    margin: -15px 0px 45px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .user-login {
    margin-bottom: 60px;
  }
  .site-search {
    margin-bottom: 45px;
  }
}

@media (max-width: 575.8px) {
  h1,
  h2 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
  }
  .news-item-heading {
    font-size: 1.4rem;
  }
}
